.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.form input {
    height: 50px;
}

.info {
    margin-top: var(--pad-md);
    font-size: var(--font-size-sm);
    color: var(--accent);
    text-align: center;
}
