.radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: 2px solid var(--border-input);

  background-color: var(--surface-input);

  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  transition: all 0.2s ease;
}

.radio:checked {
  border-color: var(--accent);
}

.radio::after {
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 50%;
  background-color: var(--accent);
  transform: scale(0);
  transition: transform 0.2s ease;
}

.radio:checked::after {
  transform: scale(1);
}
