.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title {
  font-size: var(--font-size-md);
  font-weight: 600;
  margin-bottom: 10px;
}
.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-md);
}
