@import "../../../styles/breakpoints.css";
.cards {
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media (--laptop) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width:  var(--bp-mobile)) and (max-width:  var(--bp-tablet)) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .cards> :last-child {
    margin: 0 auto;
    width: 90%;
    grid-column: 1 / -1;
  }
}

@media (--mobile) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}