.composition {
    position: relative;
}

.input::placeholder {
     color: var(--text-muted);
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.error {
    border-color: var(--text-error);
    box-shadow: 0 0 0 2px var(--text-error);
}